.Container {
    border-radius: 20px;
    background-color: var(--container-background);
    min-width: 200px;
    width: 40em;
    margin-top: 40px;
    color: black;
    box-shadow: var(--container-box-shadow);
    max-width: 90vw;
    padding: 10px 0;
    margin-bottom: 30px;
}
