
.popupBox {
    position: fixed;
    background: #0000009f;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.box {
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: calc(100vh - 85vh - 20px);
    border-radius: 20px;
    background-color: var(--container-background);
    opacity: 1;
    box-shadow: var(--container-box-shadow);
    padding: 10px 0;
    max-height: 70vh;
    padding: 20px;
    overflow: auto;
    z-index: 2000;
}
  
.close {
    position: absolute;
    right: 20px;
    content: 'x';
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 20px;
    background: none;
    width: 40px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
    outline: 0;
    text-transform: capitalize;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    color: var(--button-text-color)
}
